[mysqld]
pid-file=/var/snap/microstack/common/run/mysql/mysqld.pid
socket=/var/snap/microstack/common/run/mysql/mysqld.sock
port=3306
datadir=/var/snap/microstack/common/lib/mysql
log-error=/var/snap/microstack/common/log/mysql/error.log
secure-file-priv=/var/snap/microstack/common/lib/mysql-files
basedir=/snap/microstack/196/usr

[mysql]
socket=/var/snap/microstack/common/run/mysql/mysqld.sock
port=3306

[client]
socket=/var/snap/microstack/common/run/mysql/mysqld.sock
port=3306

[mysql_upgrade]
socket=/var/snap/microstack/common/run/mysql/mysqld.sock
port=3306
